<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
  <meta name="twitter:card"  content="summary"></meta>
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta property="og:title"  content="{{ .Title }}" />
  <meta property="og:url"  content="{{ .Site.BaseURL }}" />
  {{ with .Site.Params.description }}
  <meta name="twitter:description" content="{{ . }}" />
  <meta name="description" content="{{ . }}">
  <meta property="og:description" content="{{ . }}" />
  {{ end }}
  <meta property="og:image" content="https://gcpdigest.com/meta.png" />
  <meta name="twitter:image" content="https://gcpdigest.com/twitter-meta-small.png" />

	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}
  <link rel="shortcut icon" href="{{ "favicon.png" | relURL }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@1.2.0/dist/tailwind.min.css">
  <style>
    .bg-theme {
      background-color:#1a73e8;
    }
    .text-theme {
      color:#1a73e8;
    }
  </style>
</head>
<body>
	{{ block "main" . }}{{ end }}
</body>
</html>
